/* *{
    margin: 0px;
    padding: 0px;
} */

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 14px sans-serif;
}
td {
    border: 1px black solid;
    padding: 10px;
    background-color: rgb(246, 248, 255);
}

td:hover { 
    background-color: rgb(9, 255, 0);
}

/* #table-content {
    margin-top: 100px;
    margin : 100px, auto;
    /* margin-right: */
} */

/* #download {
    margin: 0, auto;
}

#refresh {
    margin: auto;
} */